
.bs-callout-warning {
    border-left-color: #1b809e !important;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14pt;
}

.bs-callout-warning h3 {
    color: #1b809e !important;
}

.info-content {
    color: #000;
    padding: 15px;
}

.jumbotron {
    background-image: linear-gradient(to bottom, #16257c 0, #495699 100%);
    color: #FFF !important;
}

.body-content {
    margin-top: 70px;
}